a{
    margin: 0;
    padding: 0;
}
body{
    background-color: floralwhite;
}
h1{
    text-align: center;
}
iframe{
	height: inherit;
	width: 100%;
}
table{
	width: 100%;
}
.acasa{
	width: 40%;
}
.bottom{
	height: 100px;
}
.center{
    margin: auto;
    display: block;
    width: 600px;
}
.content{
	height: 450px;
}
.dMenu{
	padding: 170px 0;
}
.galleryCell{
    height: 400px;
    width: 100%;
}
.links{
    text-align: center;
}
.logo{
	display: block;
}
.menu{
	width: 200px;
	height: 450px;
}
.specialitati{
	padding: 100px 0;
}

